$main-color: #6f6f6f57;

$gray-white: rgb(232, 232, 232);
$pure-white: rgb(255, 255, 255);

$black: black;
$rich-dark: rgb(22, 20, 20);

$light-gold: rgba(210, 180, 7, 0.61);
$dark-gold: rgb(147, 125, 0);