@use "./colors" as *;
@use "./mixins" as mixins;
@use "./components/components" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

section {
	scroll-margin-top: 100.5px;
}

body {
	height: 100vh;
	font-family: "Cormorant Garamond", sans-serif;
	color: $black;
	background-color: #6f6f6f57;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.navigation {
	position: fixed;
	top: 0;
	background-color: lightcyan;
	width: 100%;
	border-bottom: 1px solid $black;
	z-index: 50;

	.navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 5em;

		&__logo {
			display: block;
			text-align: center;

			.fa-solid {
				padding: 0 0.5em;
			}

			a {
				font-size: 2.2rem;
				text-decoration: none;
				padding: 0.5em;
				text-align: center;
				color: $black;
				transition: color 0.4s;

				&:hover {
					color: $dark-gold;
				}
			}
		}

		&__btn {
			margin: 0;
			padding: 1.2em;
			background-color: transparent;
			border: 0;
			cursor: pointer;

			.fa-bars {
				color: $black;
				font-size: 3rem;
			}
		}

		&__nav {
			display: flex;
			flex-direction: column;
			align-items: center;
			position: absolute;
			top: 5em;
			right: 0;
			background-color: $pure-white;
			width: 100%;
			height: calc(100vh - 5em);
			transform: translateX(100%);
			transition: transform 0.5s, opacity 0.5s;
			opacity: 0;

			&-link {
				margin-top: 1.5em;
				font-size: 2.5rem;
				list-style: none;
				text-transform: uppercase;

				.nav-link {
					display: flex;
					flex-direction: column;
					align-items: center;
					text-align: center;
					padding: 0.5em 2em;
					text-decoration: none;
					color: $black;
					transition: color 0.4s;

					&:hover {
						color: $dark-gold;
					}
				}
			}
		}
	}

	.show-menu {
		transform: translateX(0);
		opacity: 1;
	}
}

.header {
	height: 60vh;
	margin-top: 8em;
	background-image: url("../img/photographs-stuff-small.jpg");
	background-size: cover;
	background-position: center;
	position: relative;
	overflow: hidden;

	.box-shadow {
		@include mixins.img-shadow;
	}

	&__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
		position: absolute;
		font-size: 2.2rem;
		font-family: "Cormorant Garamond";
		font-weight: bold;
		color: white;
		text-align: center;

		p {
			font-size: 2.5rem;
			text-align: center;
			margin: 0 0.5em;

			span {
				font-style: italic;
			}
		}
	}
}

.second-title {
	text-align: center;
	font-size: 3rem;
	margin-top: 1em;
	text-transform: uppercase;
	font-weight: bold;
	overflow: hidden;
}

.aboutus {
	display: flex;
	justify-content: space-between;
	flex-direction: column;

	.cards {
		margin-top: 2em;
		display: flex;
		flex-direction: column;
	}

	.card {
		width: 100%;
		padding: 1em;
		&__img {
			height: 60vh;
			background-size: cover;
			background-position: center;
			border-radius: 8px;
			border: 1px solid black;
			box-shadow: 3px 3px 3px black;
		}

		&__img-one {
			background-image: url("../img/stuart-bailey-8106891_640-small.jpg");
		}

		&__img-two {
			background-image: url("../img/photographer-1773331_640-small.jpg");
		}

		&__info {
			margin-top: 0.5em;
			font-size: 1.5rem;
			text-align: center;
			// height: 6em;
			padding: 0.3em;
			box-shadow: 3px 2px 2px $black;
			border: 1px solid $main-color;
			overflow: hidden;
		}

		h3 {
			padding: 1em 0 0 0.5em;
			font-size: 3rem;
			text-align: center;
			font-weight: bold;
		}
	}
}

.counter {
	margin-top: 2em;
	height: 85vh;

	&__img {
		position: relative;
		height: 100%;
		background-image: url("../img/camera-4830248_640-small.jpg");
		background-size: cover;
		background-position: center;
		background-attachment: fixed;

		.img-shadow {
			@include mixins.img-shadow;
		}

		.wrapper {
			display: flex;
			flex-direction: column;
		}
	}

	&__box {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		position: absolute;
		color: $pure-white;

		&-item {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			margin: 0 auto;

			p {
				font-size: 1.5rem;
				margin-top: 1.5em;
				text-align: center;
			}

			img {
				margin-top: 1em;
				width: 4em;
			}

			.counter-area {
				font-size: 4rem;
			}
		}
	}
}

.portfolio {
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	grid-template-rows: repeat(24, 1fr);
	margin-top: 2em;

	.album {
		box-shadow: 2px 2px 2px $black;
		border: 1px solid $black;

		&__photo {
			background-size: cover;
			background-position: center;
			width: 100%;
			height: 100%;
		}

		&__name {
			margin: 0.5em 0;
			font-size: 1.4rem;
			text-align: center;
		}

		&__photo-one {
			background-image: url("../img/wedding-1850074_640-small.jpg");
		}

		&__photo-two {
			background-image: url("../img/wedding-1854074_640-small.jpg");
		}

		&__photo-three {
			background-image: url("../img/ślub-small.jpg");
		}
		&__photo-four {
			background-image: url("../img/children-817365_640-small.jpg");
		}
		&__photo-five {
			background-image: url("../img/father-and-son-1153919_1280-small.jpg");
		}
		&__photo-six {
			background-image: url("../img/paw-7231300_640-small.jpg");
		}
	}

	&__more {
		grid-column: 1/-1;
		grid-row: 25/26;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 2rem;
		padding: .5em;
		margin: 0 2em;
		text-decoration: none;
		color: $black;
		background-color: #fff;
		border-radius: 8px;
		transition: color 0.3s, background-color 0.3s;
		cursor: pointer;

		&:hover {
			color: $pure-white;
			background-color: $rich-dark;
		}
	}

	.album-one {
		grid-column: 2/6;
		grid-row: 1/7;
	}

	.album-two {
		grid-column: 7/11;
		grid-row: 1/7;
	}

	.album-three {
		grid-column: 2/6;
		grid-row: 9/15;
	}
	.album-four {
		grid-column: 7/11;
		grid-row: 9/15;
	}
	.album-five {
		grid-column: 2/6;
		grid-row: 17/23;
	}
	.album-six {
		grid-column: 7/11;
		grid-row: 17/23;
	}
}

.offers {
	margin-top: 2em;
	background-image: url("../img/sunset-698501_640-small.jpg");
	background-size: cover;
	background-attachment: fixed;
	position: relative;

	.bg-shadow {
		@include mixins.img-shadow;
	}

	&__boxes {
		display: flex;
		flex-direction: column;
		margin: 0 2em;
	}

	&__box {
		display: flex;
		align-items: center;
		background-color: #fff;
		margin: 2em 0;
		height: 250px;
		overflow: hidden;
		z-index: 10;
		box-shadow: 2px 2px 2px $rich-dark;

		&-right {
			.right {
				order: 1;
			}
		}

		.img-box {
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: center;
			transition: transform 0.5s;

			&:hover {
				transform: scale(1.1);
			}

			&-one {
				background-image: url("../img/children-817365_640-small.jpg");
			}

			&-two {
				background-image: url("../img/couple-1867098_640-small.jpg");
			}

			&-three {
				background-image: url("../img/ślub-small.jpg");
			}
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		text-align: center;
		background-color: $pure-white;
		z-index: 20;

		h3 {
			font-size: 2rem;
			font-weight: bold;
		}

		p {
			font-size: 1.2rem;
			padding: 0.5em;
		}

		&-btn {
			margin-top: 1em;
			padding: 0.5em;
			background: none;
			position: relative;
			overflow: hidden;
			width: 60%;
			color: $black;
			border-radius: 8px;
			cursor: pointer;

			a {
				color: $black;
				text-decoration: none;
				font-family: "cormoran garamond";
			}
		}
	}
}

.gallery {
	width: 100%;
	margin-top: 2em;

	img {
		height: 300px;
		width: 100%;
		object-fit: cover;

		&:nth-child(odd) {
			display: none;
		}
	}
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70vh;
	width: 100%;
	position: relative;
	margin-top: 1em;
	background-image: url("../img/family-6639676_640-footer-small.jpg");
	background-size: cover;
	background-position: center;
	color: $pure-white;
	overflow: hidden;

	.footer-shadow {
		@include mixins.img-shadow;
		z-index: 1;
	}

	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		top: 45%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 300px;
		height: 400px;
		margin-top: 0;
		position: absolute;
		background-color: $main-color;
		z-index: 10;

		&-socials,
		&-contact {
			display: flex;
			flex-direction: column;
			align-items: center;

			h3 {
				display: flex;
				font-size: 2rem;
			}

			.icons {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin-top: 1em;

				p {
					font-size: 1.8rem;
					margin: 0.2em 0;
				}

				.icon-link-top {
					cursor: pointer;
					transition: transform 0.4s;
					padding: 0.3em;
					width: 45px;

					&:hover {
						transform: scale(1.1);
					}
				}
			}
			.top {
				flex-direction: row;
			}
		}
	}

	&__bottom {
		position: absolute;
		color: $black;
		background-color: $pure-white;
		width: 100%;
		padding: 0.5em;
		font-size: 2rem;
		text-align: center;
		z-index: 11;
		bottom: 0;
	}
}

.under-construction {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 10em;

	.build {
		width: 80%;
		height: 70%;
		object-fit: cover;
		border-radius: 8px;
		box-shadow: 2px 2px 2px black;
	}

	h3 {
		font-size: 2.5rem;
		text-align: center;
		padding: 2em .5em;
	}

}

.show-animation {
	animation: show-right 0.5s both;
}

.navbar__nav .navbar__nav-link:nth-child(1) {
	animation-delay: 0.1s;
}
.navbar__nav .navbar__nav-link:nth-child(2) {
	animation-delay: 0.2s;
}
.navbar__nav .navbar__nav-link:nth-child(3) {
	animation-delay: 0.3s;
}
.navbar__nav .navbar__nav-link:nth-child(4) {
	animation-delay: 0.4s;
}

@keyframes show-right {
	from {
		transform: translateX(300px);
	}

	to {
		transform: translateX(0);
	}
}

@media (min-width: 768px) {
	.header {
		&__text {
			font-size: 3rem;
		}
	}

	.aboutus {
		.cards {
			flex-direction: row;

			.card__info {
				font-size: 2rem;
				height: 7em;
			}
		}
	}

	.counter {
		.wrapper {
			flex-direction: row;
		}

		&__box-item {
			p {
				font-size: 2.5rem;
			}

			img {
				width: 6em;
			}

			.counter-area {
				font-size: 6rem;
			}
		}
	}

	.portfolio {
		&__more {
			font-size: 2rem;
			margin: 0 5em;
			padding: 0.5em;
		}

		.album__name {
			font-size: 2.5rem;
		}
	}

	.offers {
		&__info {
			h3 {
				font-size: 3.5rem;
			}

			p {
				font-size: 1.7rem;
			}
		}
	}

	.gallery {
		grid-template-columns: repeat(4, 1fr);
		img {
			&:nth-child(odd) {
				display: block;
			}
		}
	}

	.footer {
		&__box {
			width: 500px;
			height: 80%;

			&-socials,
			&-contact {
				h3 {
					font-size: 2rem;
				}

				p {
					font-size: 2rem;
				}

				.icons {
					.icon-link-top {
						width: 35px;
					}
				}

				.bottom {
					.title {
						font-size: 2rem;
					}

					p {
						font-size: 1.5rem;
					}
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.navigation {
		.navbar {
			&__btn {
				display: none;
			}

			&__logo {
				position: absolute;
				z-index: 12;
			}

			&__nav {
				flex-direction: row;
				opacity: 1;
				transform: translateX(0);
				height: 5em;
				top: 0;
				right: 10em;
				justify-content: flex-end;
				background-color: transparent;

				&-link {
					padding: 1em;
					margin-top: 0;

					.nav-link {
						padding: 0 1em;
						font-size: 2rem;

						.fa-solid {
							padding: 0.5em 0;
						}
					}
				}
			}
		}
	}

	.offers {
		&__box {
			height: 350px;
		}
	}
}

@media (min-height: 850px) {
	.footer {
		&__box {

			&-socials,
			&-contact {
				h3 {
					font-size: 3rem;
				}

				p {
					font-size: 2.3rem;
				}

				.icons {
					.icon-link-top {
						width: 45px;
					}
				}

				.bottom {
					.title {
						font-size: 3rem;
					}

					p {
						font-size: 2rem;
						padding: 0.2em 0;
					}
				}
			}
		}
	}
}

@media (min-width: 1200px) {
	.portfolio {
		height: 240vh;
		grid-template-columns: repeat(11, 1fr);
		grid-template-rows: repeat(106, 1fr);

		.album {
			&__photo-one {
				background-image: url("../img/para-młoda-big.jpg");
			}

			&__photo-two {
				background-image: url("../img/wedding-1854074_1920-big.jpg");
			}

			&__photo-three {
				background-image: url("../img/ślub-big.jpg");
			}
			&__photo-four {
				background-image: url("../img/children-817365_1920-big.jpg");
			}
			&__photo-five {
				background-image: url("../img/father-and-son-1153919_1920-big.jpg");
			}
			&__photo-six {
				background-image: url("../img/paw-7231300_1920-big.jpg");
			}

			&__name {
				font-size: 3rem;
			}
		}

		.album-one {
			grid-column: 2/6;
			grid-row: 1/30;
		}

		.album-two {
			grid-column: 7/11;
			grid-row: 1/30;
		}

		.album-three {
			grid-column: 2/6;
			grid-row: 34/63;
		}
		.album-four {
			grid-column: 7/11;
			grid-row: 34/63;
		}
		.album-five {
			grid-column: 2/6;
			grid-row: 68/97;
		}
		.album-six {
			grid-column: 7/11;
			grid-row: 68/97;
		}

		&__more {
			grid-row: 103/106;
			margin: 0 10em;
		}
	}

	.offers {
		&__box {
			height: 450px;

			.img-box-one {
				background-image: url("../img/family-1237701_1920-big.jpg");
			}

			.img-box-two {
				background-image: url("../img/couple-1867098_1920-big.jpg");
			}

			.img-box-three {
				background-image: url("../img/ślub-big.jpg");
			}
		}
	}

	.footer {
		background-image: url("../img/family-6639676_1920-footer-big.jpg");
	}

	.under-construction {
		.build {
			width: 50%;
			height: 40%;
		}
	}
}
